<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Hello from Fly</h1>
{{ if .Name }}
<h2>and hello to {{.Name}}</h2>
<p> I added a new change with Travis CI continuous deployment </p>
{{end}}
</body>
</html>
